/* FiveM LoadingScreen By R3IC0P */

body {
   background-color: rgb(0, 0, 0);
   /*cursor: url(cursor.png), auto;*/
   overflow:hidden;
   margin: 0;
}

@font-face {
   font-family: gta;
   src: url(pricedow-webfont.woff);
}

@font-face {
  font-family: 'fontello';
  src: url('fontello.eot?67782161');
  src: url('fontello.eot?67782161#iefix') format('embedded-opentype'),
       url('fontello.woff2?67782161') format('woff2'),
       url('fontello.woff?67782161') format('woff'),
       url('fontello.ttf?67782161') format('truetype'),
       url('fontello.svg?67782161#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-left-open:before { content: '\e800'; }
.icon-right-open:before { content: '\e801'; }

#cursor
{
   position: absolute;
   z-index: 100000;
   pointer-events: none;
}

#container {
   height: auto;
   width: auto;
}

#bg-video{
   object-fit: cover;
   position: fixed;
   width: 100vw;
   height: 100vh;
   top: 0;
   left: 0;
}

.logo {
   position: relative;
   background: none;
   padding-top: 15%;
   padding-bottom: 15%;
   font-size: 220px;
   text-align: center;
   font-family: gta;
   text-shadow: 10px 10px #000;
   -webkit-text-stroke: 3px #000;
}

#iskra {
   color: #fff;
}

#rp {
   color: #666;
}

.vol-slider {
   position: relative;
   width: 100%;
}

#volume-control {
   width: 35%;
   height: 15px;
   margin-top: 5%;
   margin-left: 4%;
   border-radius: 5px;
   background: rgb(255, 255, 255);
   /*cursor: url(cursor.png), auto;*/
}

#volume-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #5a5a5a;
  /*cursor: url(cursor.png), auto;*/
}

#volume-control::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #666;
  /*cursor: url(cursor.png), auto;*/
}

.controls {
   position: fixed;
   bottom: 5;
   background: none;
   color: #f1f1f1;
   width: fit-content;
   margin-left: 39.7%;
}

.prev-btn {
   width: 180px;
   border: none;
   background: none;
   color: #fff;
   /*cursor: url(cursor.png), auto;*/
   font-size: 70px;
   text-shadow: 10px 10px #000;
   -webkit-text-stroke: 3px #000;
   outline: none;
   float: left;
}

#prev_btn {
   display: block;
}

.next-btn {
   width: 180px;
   border: none;
   background: none;
   color: #fff;
   /*cursor: url(cursor.png), auto;*/
   font-size: 70px;
   text-shadow: 10px 10px #000;
   -webkit-text-stroke: 3px #000;
   outline: none;
}

#next_btn {
   display: block;
}

.prev-btn:hover {
   color: #333;
}

.next-btn:hover {
   color: #333;
}